@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

html, body{
    margin: 0;padding: 0;
    font-family: 'Lato';
    background-color: #f4f4f4;
    overflow-x: hidden;
}

iframe {
    margin: auto;
    padding: 0 50px;
    display: inline-block;
    align-items: center;
}

p{
    display: inline-block;
    align-items: center;
    margin: 0 40%;
}

#about{
    text-align: center;
}

#about p{
    margin: 5px 10px;
    padding: 10px;
    font-family: Lato;
    font-size: 20px;
}

#about a{
    text-decoration: none;
    color: black;
}

#about .gitlab:hover{
    color: #e8491d;
}

#about .netlify:hover{
    color: #00b09f;
}

.social {
    align-items: center;
    margin: 2px 42%;
}

header{
    padding: 0;margin: 0;
    position: fixed;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.video{
    position: relative;
    display: inline-block;
    padding: 2% 2%;
    background-color: #f4f4f4;
}

.video video{
    width: 100%;
    height: 100%;
}

.menu{
    background-color: #35424a;
    width: 100%;
    height: 66px;
    line-height: 66px;
}

.logo{
    margin: 0;padding: 0;
    color: #fff;
    font-family: 'Lato';
    font-size: 25px;
    letter-spacing: 1px;
}

.m-left{
    float: left;
}

.m-right{
    float: right;
}

.inner{
    width: 80%;
    margin: auto;
}

.m-link{
    text-decoration: none;
    color: #f4f4f4;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;margin: 0 15px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px; 
}

.m-link i{
    margin-right: 5px;
}

.m-link:hover{
    border-color: #f4f4f4;
}

.m-nav-toggle{
    width: 40px;
    height: 66px;
    display: none;  
    align-items: center;
    float: right;
    cursor: pointer;

}

span.m-toggle-icon, span.m-toggle-icon:before, span.m-toggle-icon:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #f4f4f4;
    transition: all 0.3s ease-in-out;
    position: relative;
}


span.m-toggle-icon:before{top: 12px;}
span.m-toggle-icon:after{top: -14px;}

.m-right.is-open{
    transform: translateX(0);
}

.m-nav-toggle.is-open span.m-toggle-icon{
    background: transparent;
}

.m-nav-toggle.is-open span.m-toggle-icon:before, .m-nav-toggle.is-open span.m-toggle-icon:after{
    transform-origin: center;
    transform: rotate(45deg);
    top: 0;
}

.m-nav-toggle.is-open span.m-toggle-icon:before{
    transform: rotate(-45deg);
}

@media only screen and (max-width: 1220px){
    #jeux li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 912px){
    .m-right{
        position: absolute;
        top: 0px;right: 0;left: 0;
        width: 100%;
        height: auto;
        background: #35424a;
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
    }

    header {
        position: relative;
    }

    .m-nav-toggle{
        display: flex;
    }

    .m-link{
        display: block;
        text-align: center;
        padding: 0;margin: 0 20px;
        height: 55px;
        width: 200px;
        margin: auto;
    }

    #newsletter div .h1 {
        float: none;
        padding: 5px 5px;
    }

    #newsletter .form form input {
        width: 50%;
        float: none;
    }

    #newsletter .form form button {
        width: 40%;
        float: none;
    }

    #newsletter .form form {
        padding: 5% 5%; 
        float: none;
    }

}

body .highlight{
    color: #e8491d;
    font-weight: bold;
}

.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}



#showcase{
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px
}

#showcase p{
    font-size: 20px;
}

#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}
button{
    border-radius: 5px;
}

input{
    border-radius: 5px;
    color: #f4f4f4;
    border: 2px solid transparent;
    transition: all 0.9s ;
}

input:focus{
    border-color: #e8491d;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

footer{
    padding: 10px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #35424a ;
    text-align: center; 
}

#jeux{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    padding: 15px;
}

#jeux nav{
    margin-top: 10px;
}

#jeux li{
    border: 3px #e8491d solid;
    border-radius: 5px;
    display: inline-block;
    padding: 0 20px 0 20px;
    background-color: #e8491d;
    width: auto;
}

#jeux a{
    color : black;
    text-decoration: none;
    font-size: 20px;
}

#jeux li:hover{
    border: 3px #ff6e46 solid;
    border-radius: 5px;
    display: inline;
    padding: 0 20px 0 20px;
    background-color: #ff6e46;
    
}

@media only screen and (max-width: 890px){
    nav{
        display: block;
    }
}

